/*-- scss:defaults --*/
$theme-blue: #0000ff;
$theme-red: #ff0000;
$theme-gray: #cccccc;
$theme-white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

$font-family: 'Allura', cursive;

/*-- scss:rules --*/

.blue {
  color: $theme-blue;
}

.red {
  color: $theme-red;
}

.gray {
  color: $theme-gray;
}

.act {
  font-family: Allura;
  font-size: 300%;
  color: $theme-white;
}

/* alignment */

.h2center h2 {
  text-align: center;
}

.center body {
  text-align: center;
}
